.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tag {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  display: inline-flex;
  border-radius: 5000px;
  border: #007bff transparent 1px;
  margin-bottom: 5px;
  margin-right: 5px;

  /* padding-top: 0px;
  padding-bottom: 0px; */

}

.tag p {
  margin: 0px;;
  padding: 0px;
  /* height: 100%; */
}

.tag span {
  margin: 0px;
  padding: 0px;
}
.tag span.active {
  padding-left: 5px;
  margin-left: 5px;
  border-left: solid 1px white;
  /* height:100%; */
  /* font-weight: bold; */
}


.suggestion {
  z-index: 1000;
}

.suggestion.list-group-item.active {
  background-color: #333333;
  border-color: #333333;
}

.suggestion.list-group-item.active .tag {
  border: 1px solid;
  border-color: inherit;
}

.tag button {
  color: black;
  opacity: .75;
  text-decoration: none;
  padding: 0px;
  padding-left: 5px;
  border-style: none;
  border: 0px;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
  text-transform: none;
  overflow: visible;
  margin: none;
  box-sizing: border-box;
  background-color: transparent;
  vertical-align: middle;
}

.tag button:hover  {
  color: white;
  opacity: 1;
}

.dsm-mt-hidden-input-element {

}
.dsm-mt-pseudo-input-element {
  margin-bottom: 5px;

}

.dsm-mt-pseudo-input-element:focus {
  border: 2px solid #0097cf;
}

.dsm-mt-tag-area {
  padding-left: 1rem;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 0px;
  /* min-height: 48px; */

}

.dsm-mt-tag-area.disabled {
  background-color: #9fa4aa;
}

.dsm-mt-typeahead-input-area {
  display: inline-flex;
  /* max-width: 100%; */
  width: 2px;
  padding: 5px 0px;

  overflow: auto;
  background-color: transparent;
  border: solid 1 transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.dsm-mt-form-element {
  border: 2px dashed #ccc;
  padding: 1em;
  margin:1em 0em;
}

.dsm-mt-typeahead-input-area:focus {}
.dsm-mt-typeahead-suggestion-area {
  position: absolute;
  max-height: 400px;
  overflow-y: auto;
}



.soft-border {
  background-color: #fff;
  border: 2px solid #ccc;
-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
        border-radius: 8px;
  padding-top: 5px;
}



.hidden-form {
  display: none;
}


























/*******************************************************************************
**                                                                            **
**                        TYPEAHEAD INLINE SEARCH                             **
**                                                                            **
*******************************************************************************/
.dsm-mt-inline-form {
  display: inline-flex;
  width: 100%;
  --bc: #333333; /* border-color */
  --bsw: 1px; /* border-stroke-width*/
  --bgc: white; /* background-color */
}

.dsm-mt-inline-form input {
  margin-top: 0px;
  padding: 0px;
}

.dsm-mt-inline-form .dsm-mt-pseudo-input-element {
  width: 100%;
  background-color: var(--bgc);

  margin-bottom: 0px;

  border-radius: 10px 0px 0px 10px;
  border: var(--bsw) solid var(--bc);
}

.dsm-mt-inline-form .dsm-mt-btn-submit {
  display: inline-block!important;
  cursor: pointer !important;

  padding: 0px 10px !important;

  color: white!important;
  background-color: #007bff!important;

  text-align: center!important;
  vertical-align: middle!important;

  border-radius:  0px 10px 10px 0px!important;
  border: var(--bsw) solid !important;
  border-color: var(--bc)!important;
  border-left: 0px!important;
  background-color: #007bfff5!important;
  transition: all 0.3 ease;

  /* opacity: 1; */
}

.dsm-mt-inline-form .dsm-mt-btn-submit:hover {
  opacity: 0.75!important;
  transition: all 0.5 ease!important;

}

.dsm-mt-inline-form .dsm-mt-tag-area {
  height: auto;
  /* display: inline-flex; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 100% !important;
}


.dsm-mt-inline-form .tag, .dsm-mt-inline-form input {
  margin-top: 5px;
  display: inline-flex;
  white-space: nowrap;
}
